@import '~bulma'
@import "~assets/sass/_navbar.sass"
@import "~assets/sass/_index.sass"
$footer-background-color: red

body
    margin: 0 100px
    padding: 0
    // font-family: $fuente1

button:hover
    cursor: pointer
span
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.container-small
    padding: 0 30%
